.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: block;
  width: 60px;
}

.nav-items {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-items > li {
  display: block;
  padding: 10px;
}
