@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;

    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #21222A;
    padding: 30px 25px;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo-img {
    display: block;
    width: 29px;
}

.nav-logo-text {
    color: #61DAFB;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -1.113px;
    margin: 0 0 0 5px;
    line-height: 30px;
}

.nav-item {
    color: #DEEBF8;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    line-height: 30px;
}
